{% load otree static i18n %}
<ul class="list-group list-group-flush my-3">
 
    <li class="list-group-item">
       In this part we will not tell you which of the wheels will be  relevant for the determination of your bonus. For this reason, the
            probabilities
            for winning and losing are unknown. They are somewhere between 1% and 99%. This means, the chance to win
            {{Constants.max_payoff|c}} as an additional bonus is between 1%-99% if this part is chosen at the end of the experiment as the
            relevant for determination of your bonus.
    </li>
    

</ul>