{% load otree static i18n %}
<ul class="list-group list-group-flush my-3">
    <li class="list-group-item">
                In this round you will receive  {{ session.config.participation_fee }} depending on the outcome of a wheel of fortune, regardless of what else
        happens during this study. Please familiarize yourself with the possible outcomes for all the wheels relevant in
        this round.
    </li>
    <li class="list-group-item">
        As you can see the wheel of fortune relevant for this round is only green. This means, you will receive 
        {{ session.config.participation_fee }} for sure, if this round is chosen at the end of the experiment as payoff
            relevant.

    </li>
    

</ul>