
{% load staticfiles otree %}
{% load i18n %}
 
     <div class="wrapper instructions">
        <p>
            {% blocktrans trimmed with n=num_choices %}
                In the following, you'll face {{ n }} decisions listed on your screen. Each decision is a paired
                choice between "Option A" and "Option B". While the amount of bonuses of the two options are fixed for all
                decisions, the chances of the high bonus for each option will vary.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed with n=num_choices %}
                After you have made all of your choices, one of the {{ n }} decisions will be randomly chosen for
                your payment. For the option you chose, A or B, in this decision, it will be randomly determined
                (according to the corresponding probabilities) whether the low or high outcome will constitute your
                bonus.
            {% endblocktrans %}
        </p>
         

    </div>

 