{% load otree static i18n %}
<ul class="list-group list-group-flush my-3">
    <li class="list-group-item">
        The decisions in this experiment are not hypothetical. Your choices determine how much money you will get at
        the end!
    </li>
    <li class="list-group-item">
        The experiment consists of two parts and in each part you face four decision making tasks. This means each
        decision making task will be presented to you twice. The rules of the task remain the same, but in each part
        there will be another source of payoffs. All decisions are independent of one another, this means what you
        decide in part 1 has no relevance for part 2.
    </li>
    <li class="list-group-item">There are no right or wrong answers! Choose the option that you prefer!
    </li>
    <li class="list-group-item">In sum there are eight decision tasks and you will make multiple choices. Once you
        have made all of the choices, one of the choices will be selected at random, and the amount you receive as Bonus
        will be determined according to the outcome of your choice with another random draw. Hence, you should treat
        each choice as if it were the only one you make! Any choice could be the one that ultimately matters.
    </li>
    <li class="list-group-item">In both parts you will face different wheels of fortune that determine an additional
        payoff. The wheels of fortune present an additional lottery. We will explain the details of the additional
        payoffs for each part at the start of that part. Only one part will be chosen at the end and paid out. The
        lotteries outcome is depending on the outcome of the spinning wheel you see here:
        <div class="text-center">
            <img src="{% static 'global/img/example_circle.png'%}" alt="example of spinning wheel" height="200px">
        </div>
    </li>

    <li class="list-group-item">The wheels will spin while you make you decisions – and each wheel will stop when you
        reach the end of the respective part. However, you will not learn the outcome until the end of the study.

    </li>

</ul>