{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}



{# ****************************************************************************************************************** #}
{# *** STYLES *** #}
{# ****************************************************************************************************************** #}
{% block styles %}
<link href="{% static 'scl/css/custom.css' %}" rel="stylesheet" />
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}

Task {{view.num_task}}. Instructions
{% endblock %}


{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}

{% include 'umbrella/instructions/inner_SCL.html'%}


{% next_button %}
{% endblock %}