{% extends "global/GeneralPage.html" %}
{% load otree static %}

{% block title %}
Payoff screen
{% endblock %}

{% block content %}



 
<ul class="list-group list-group-flush my-3">
    <li class="list-group-item">
      As stated at the beginning, for each room (task) you faced an additional lottery. It was randomly determined that the
lottery from room (task) {{participant.vars.payable_round}} is payoff relevant. Here you see this lottery’s outcome.

    </li>
    <li class="list-group-item">
    {% include 'umbrella/includes/singlecircle.html' with result=True risk=player.payable_risk lottery_outcome=player.payable_lottery_outcome  cover=False %}</li>
      <li class="list-group-item ">
   
       Thus your payoff from this additional lottery  is <b>{{player.background_payoff }}</b>.

    </li>
    <li class="list-group-item">
    From the choices you made, task  {{player.payable_task_num}} was randomly determined to be paid out.


    </li>
    <li class="list-group-item ">
   
       Your payoff from this task is <b>{{player.felix_payoff}}</b>.

    </li>

    <li class="list-group-item font-weight-bold ">
   
        Hence, your final payoff is: {{player.payoff}}.

    </li>
</ul>
 



{% next_button %}

{% endblock %}