{% extends "global/GeneralPage.html" %}
{% load otree static %}

{% block title %}
    Example of the lottery wheel - {{ player.treatment }}.
{% endblock %}

{% block wheelcontent %}
       {% include 'umbrella/includes/singlecircle.html' with result=False risk=player.risk lottery_outcome=player.lottery_outcome|json cover=player.cover|json %}</li>
     {% endblock %}


{% block content %}



                On each page in Part {{ view.round_number }} you will see the spinning wheel.
    The
    wheel is stopped at the end of Part {{ view.round_number }}. You will learn the outcome of the wheel in the final
    part of the study.
{% next_button %}


{% endblock %}
{% block styles %}


{% endblock %}
{% block scripts %}

{% endblock %}